<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
   

<main class="container">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to Agnes' Portfolio</h1>
    <p>This is my first digital portfolio... </p>

    <!-- Navigation Section -->
  <section class="navigation-section">
    <h2>Explore My World</h2>
    <ul>
      <li><a href="/about">About Me</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="/projects">Projects</a></li>
      <li><a href="/services">Services</a></li>
      <!-- Add links to other pages (Projects, Services) as needed -->
    </ul>
  </section>

    </div>


    </main>
    <!--bottom nav-->
   
   
      <!--script section-->
      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>
   